.error-message {
  text-align: center;
  color: var(--error);
  font-size: 0.85rem;
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: rgba(239, 68, 68, 0.1);
  border-radius: 6px;
  border-left: 3px solid var(--error);
  animation: shake 0.5s;
}


.hide {
  display: none;
}